Package: nginx
Version: 1.3.13-1
Architecture: amd64
Maintainer: Vid Luther <vid@zippykid.com>
Installed-Size: 950
Depends: libc6 (>= 2.14), libpcre3 (>= 8.10), libssl1.0.0 (>= 1.0.1), zlib1g (>= 1:1.2.0)
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
